@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('./../Fonts/IRANSansWeb.woff2') format('woff2'),url('./../Fonts/IRANSansWeb.woff') format('woff'),url('./../Fonts/IRANSansWeb.eot'),url('./../Fonts/IRANSansWeb.eot?#iefix') format('eot'),url('./../Fonts/IRANSansWeb.ttf') format('ttf')
}